main {
  display: grid;
  gap: 1rem;

  & img {
    width: 20.5rem;
    height: 20.5rem;
    aspect-ratio: 1/1;
  }
}

@media (width >= 80rem) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    & img {
      width: 17.875rem;
      height: 17.875rem;
      aspect-ratio: 1/1;
    }
  }
}
